CONFIG_BOARD_ARDUINO101=y
CONFIG_CHIP_VENDOR_INTEL=y
CONFIG_CHIP_QUARK_SE=y
CONFIG_CORE_QUARK=y
CONFIG_X86=y
CONFIG_IOAPIC=y
CONFIG_LAPIC=y


CONFIG_USB=y
CONFIG_USB_DEVICE=y
CONFIG_USB_DFU_VID=0x8087
CONFIG_USB_DFU_PID=0x0ABA
CONFIG_USB_DFU=y
CONFIG_USB_DFU_NR_ALT=9

# CONFIG_QUARK_SE_SWITCH_INTERNAL_OSCILLATOR is not set

CONFIG_MISC=y
CONFIG_GPIO=y
CONFIG_DNX=y
CONFIG_SWD=y
CONFIG_DNX_TIMEOUT_S=5

# temporary implementation
CONFIG_USB_DWC_3_10B=y

# Features
# CONFIG_HARDWARE_CHARGING is not set
# CONFIG_PANIC_DUMP is not set
# CONFIG_CRYPTO is not set
# CONFIG_LZG is not set
# CONFIG_SHA256 is not set
# CONFIG_OTA is not set
# CONFIG_SECURE_BOOT is not set
# CONFIG_SECURE_UPDATE is not set

# Hardware
# CONFIG_INTERRUPT_MODE is not set
# CONFIG_TIMER is not set
# CONFIG_SERIAL is not set
# CONFIG_RTC is not set
# CONFIG_WATCHDOG is not set
# CONFIG_SPI is not set
# CONFIG_I2C is not set
